.container {
  width: 100%;
  border: 1px solid #ffffff1a;
  /* background: #404040; */
}

.image {
  width: 98%;
  height: 170%;
  position: absolute;
  left: 10px;
  object-fit: cover;
}

.help {
  display: flex;
  column-gap: 8px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;

  width: 78px;
  height: 28px;
  position: relative;
  top: 750px;
  left: 35px;
  padding: 6px;
  border-radius: 18px;
  color: #ffffff;
  background: #0c6b71;
}

.baseline {
  width: 18px;
  height: 18px;
  position: relative;
  bottom: 2px;
  left: 5px;
  color: #ffffff;
}

.epme_container {
  width: 39%;
  height: 85%;
  border-radius: 20px;
  position: absolute;
  top: 45%;
  right: 290px;
  margin-top: 50px;
  background: #ffffff;
}

.epp_header {
  width: 58%;
  height: 40px;
  margin-left: 110px;
  margin-top: 45px;
}

.epp_header2 {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 100px;
  position: absolute;
  top: 38px;
  left: 48px;
}

.form {
  width: 76%;
  height: 350px;
  position: relative;
  top: 16px;
  left: 50px;
  /* border: 1px solid red; */
}

.form_input {
  padding: 16px;
  border: 1px;
  width: 320px;
  height: 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #bebebe;
}

.input_text {
  width: 90px;
  height: 14px;
  position: relative;
  top: 15px;
  left: 2px;
}

.input_content {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  color: #333333;
}

.password_container {
  width: 320px;
  height: 84px;
  gap: 12px;
  /* border: 1px solid #0c6b71; */
  margin-top: 16px;
  margin-bottom: 10px;
}

.password {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.reset_container {
  width: 320px;
  height: 37px;
  margin-top: 10px;
}

.reset {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #5c5c5c;
}

/* .forgot {
  width: 110px;
  height: 16px;
  margin-top: 8px;
}

.forgot_para {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #0c6b71;
} */

.btn_log {
  width: 215%;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  right: 62px;
  top: 220px;
  gap: 10px;
  background: #b4d1d3;
}

.btn_para {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: 94px;
  left: 110px;
  width: 150px;
  height: 24px;
  color: #ffffff;
}

.dont_container {
  width: 197px;
  height: 30px;
  position: relative;
  left: 120px;
  bottom: 100px;
}

.dont_para {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  /* text-align: center; */
  color: #727272;
}

.sign_span {
  font-size: 13px;
  font-weight: 600;
  color: #0c6b71;
}

.social_container {
  width: 20%;
  height: 20px;
  position: relative;
  bottom: 95px;
  left: 85px;
  gap: 16px;
  margin-bottom: 18px;
}

.border {
  text-align: center;
}

.media {
  width: 350px;
  height: 85px;
  position: relative;
  bottom: 95px;
  gap: 12px;
}

.google {
  width: 320px;
  height: 35px;
  padding: 8px, 0px, 8px, 0px;
  border-radius: 10px;
  border: 1px solid black;
  gap: 21px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.google_para {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  position: relative;
  top: 7px;
  left: 16px;
  color: #2d2d2d;
}

.image_google {
  width: 25px;
  height: 25px;
  padding: 4px;
  border-radius: 69px;
  position: relative;
  left: 50px;
  bottom: 14px;
  background: #ffffff;
}
